<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/Style.css">
</head>
<body>
    <h1>View Book</h1>
    <table class="book-table">
        <tr>
            <th>Title</th>
            <th>Author</th>
        </tr>
        <tr>
            <td><%= book.title %> </td>
            <td><%= book.author %></td>
        </tr>
    </table>
    <div class="link-center">
        <a href="/update/<%= book.id %>">Edit</a>    
        <a href="/delete/<%= book.id %>">delete</a>
        <a href="/">Back to list</a>
    </div>
</body>
</html>